<div class container>

    <div class=header>
        <nav class="nav-main">
            <h1 class="logo">Blog App</h1>
            <a href="/articles/new">Add new article</a>
        <nav>
    </div>

    <div class=main>
        <div class="main-header">
            <h1>Articles</h1>
        </div>
        <div class="main-body">

        <% @articles.each do |article| %>
            <div class="card">
                <div class="cards">
                    <div class=card-header>
                        <h3><%= article.title %></h3>
                    </div>
                    <div class="card=body">
                        <%= article.body %>
                        <%= link_to "view", article %>
                    </div>
             
                </div>
            </div>
       <% end %> 
            

        </div>
    </div>

    <div class=footer>
        <h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>

        <h3 style="text-align:center;">First ruby on rails App</h3>
    </div>

</div>